body{background-color: whitesmoke;}
.onedive{
    background-color:whitesmoke;
    margin-left: auto;
    margin-right:auto;
    width:1024px;
    margin-top: 50px;
}
.main_nav{
    text-align: center;
    max-width: 1024px;
    /* border:2px solid black; */
    box-shadow: none;
}
.main_nav h3{
   display:inline-block;

}
.main_nav ul {
    margin-left:300px;
    display:inline-block;
    text-align: center;
    

}

ul li{
    display:inline-block;
    text-align: center;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color:black;
}

.profile-img{
    display: inline-block;
    min-height: 400px;
    width: 400px;
    background-image: url("IMG_20220422_154530.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:400px;
    margin: 30px 40px auto 50px;
    box-shadow: 10px 10px 20px black;
    float: left;
}  
.main_section{
    max-width: 1024px;
} 
.about {
   padding-top:80px;
}


    
.circleone{
    min-width: 100px;
    min-height: 50px;
    background-color: rgb(148, 213, 17);
    text-align: center;
    border-radius: 100px;
    padding-top:30px;
    margin-right: 20px;
    background-color: yellow;
    cursor: pointer;
}
.circletwo{
    
    min-width: 100px;
    min-height: 50px;
    background-color: rgb(148, 213, 17);
    text-align: center;
    border-radius: 100px;
    padding-top:30px;
    margin-right: 20px;
    background-color: rgb(236, 93, 10);
    cursor: pointer;}
.about_me ul :hover{
    transform: scale(1.2);
    text-decoration: none;
    transition-duration: 0.8s;

    transition-timing-function:ease;
}
.button{
    padding:5px;
    margin: 10px;
    transition-duration: 0.6s;
}
.button:hover{
    box-shadow: 2px 1px 5px black;
    text-decoration: none;
    transform: scale(1.3);
}
.footer_div{
    margin-top:10px;
    float: left;
    margin-left:50px;
    line-height: 0px;
    background-color: whitesmoke;

}
.footer_div h4{
    
}
footer{
    border-top:1px solid black;
    background-color: black;
    display:block;
    margin-top:170px;
    row-gap: 0px;
    padding-top:0;
}
.chatbot_div{
}
.chatbot{
    width:70px;
    height:70px;
    border-radius: 100px;
    background-size:cover;
    position: fixed;
    bottom:15%;
    left:80%;
}
@media screen and (250px <= width <=1024px) {
    *{
       
    }
    .onedive{
        width: 95vw;
        margin-top:2px;
    }
    .main_nav{
        width: 80vw;
        display:flex;
    }
    .main_nav ul{
        margin-left:20vw;
        display: none;
    }
    .profile-img{
        min-height:250px ;
        width: 250px;
        border-radius: 200px;
        margin: auto;
        margin-top: 50px;
    }
    .about{
        padding-top:10px;
    }
    .main_section{
        display:flex;
        flex-direction: column;
        width: 90vw;
        text-align: center;
    }
    footer{
        margin-top:50px;
    }
}
